<div class="jumbotron animated fadeIn">
    <h1 class="display-4">Hero app</h1>
    <p class="lead">Ésta es una aplicación SPA de Héroes de Marvel y DC</p>
    <hr class="my-4">
    <p>Aquí vimos</p>
    <ul class="list-group">
        <li class="list-group-item">Componentes mediante CLI</li>
        <li class="list-group-item">Varias formas de usar Bootstrap</li>
        <li class="list-group-item">Eventos de Angular</li>
        <li class="list-group-item">Rutas</li>
        <li class="list-group-item">RouterLink</li>
        <li class="list-group-item">Rutas Parametrizadas</li>
        <li class="list-group-item">Servicio (Proveedores)</li>
        <li class="list-group-item">Directivas Estructurales</li>
    </ul>
    <hr>
    <a class="btn btn-primary btn-lg" [routerLink]="['/home']" role="button">Ir a home</a>
</div>
