<div class="row">
    <h2 class="col-10">Nombre héroe: {{hero['nombre']}}<small> - Año de aparición {{hero['aparicion']}}</small></h2>
    <div class="col-2">
        <button [routerLink]="['../../heroes']" class="btn btn-outline-warning btn-block">Regresar</button>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <img src="{{hero['img']}}" alt="">
    </div>
    <div class="col-8">
        <h3>Casa: {{hero['casa']}}
            <img *ngIf="obtenerCasa()" class="img-logo" src="../../../assets/img/marvel.jpeg" alt="">
            <img *ngIf="!obtenerCasa()" class="img-logo" src="../../../assets/img/dc.jpeg" alt="">
        </h3>
        <hr>
        <p>Bio: {{hero['bio']}}</p>
    </div>
</div>